.logs-container {
    overflow-y: scroll;
    height: 100px;
    margin-top: 10px;
    background: #444444;
    border: 1px solid #444444;
    color: #fff;
    padding: 10px 15px;
    resize: vertical;
  }
  
  .logs-container .log {
    padding: 3px 0;
  }
  
  .logs-container .log-label {
    color: #8ae234;
    font-weight: 600;
  }
  
  .logs-container .log-link {
    color: #34e2e2;
  }
  
  .first-description-block {
    margin-top: 30px;
  }
  
  .description-blocks {
    margin: 30px 0 30px 0;
  }