/* Alignment */
body {
  margin: 0;
}

#app {
  padding: 120px 0 60px;
  font-family: "Open Sans", "Arial", sans-serif, serif;
  color: #555;
  line-height: 1;
  margin: 14px 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}
.wrap {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  background: #fff;
  position: relative;
  display: flex;
}

.pivot-example-container {
  float: left;
  width: 100%;
  padding: 30px 40px;
  background: #fff;
  padding-top: 0;
}

.chart-container {
  margin-top: 70px;
}

.first-description-block {
  margin-top: 30px;
}

.description-blocks {
  margin: 30px 0 30px 0;
}

.section {
  margin-top: 45px;
  position: relative;
}

.section--button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 5px;
}

/* Button */
.button-red,
.button-red:focus {
  cursor: pointer;
  border: 2px solid #df3800;
  border-radius: 4px;
  color: #df3800;
  background: transparent;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.35714;
  padding: 12px 19px;
  margin: 5px 5px 5px 0;
  position: relative;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-red:hover,
.active-button {
  background: #df3800;
  color: #fff;
}

.button-red:focus {
  outline: none;
}

/* Toggle button and switch */
.toggle-button .button-checkbox,
.toggle-switch .button-checkbox {
  position: absolute;
  left: -5000px;
}

input[type="checkbox"i] {
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.toggle-button .button-checkbox-label,
.toggle-switch .button-checkbox-label {
  cursor: pointer;
  display: block;
  background: #c1c1c1;
  height: 32px;
  width: 60px;
  border-radius: 50px;
  margin: 16px 0;
  position: relative;
}

.toggle-switch .button-checkbox-label {
  background: #00a45a;
}

.toggle-button .button-checkbox:checked + .button-checkbox-label {
  background-color: #00a45a;
}

.toggle-switch .button-checkbox:checked + .button-checkbox-label {
  background-color: #df3800;
}

.toggle-button .button-checkbox:checked + .button-checkbox-label:before,
.toggle-switch .button-checkbox:checked + .button-checkbox-label:before {
  left: 32px;
}

.toggle-button .button-checkbox-label:before,
.toggle-switch .button-checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  background: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-button .button-checkbox:checked + .button-checkbox-label .on {
  color: #00a45a;
}

.toggle-switch .button-checkbox:checked + .button-checkbox-label .on {
  color: #df3800;
}

.toggle-button .button-checkbox-label .on,
.toggle-switch .button-checkbox-label .on {
  display: block;
  position: absolute;
  z-index: 0;
  left: 76px;
  opacity: 1;
  min-width: max-content;
  line-height: 32px;
  font-weight: 600;
  font-size: 16px;
  color: #454545;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-switch .button-checkbox-label .on {
  color: #00a45a;
}

/* Text */
.page-title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.35714;
  color: #555555;
}

p {
  line-height: 1.75;
}

.title-link {
  color: #00a45a;
  position: relative;
}

.title-link:hover {
  text-decoration: underline;
}

.title-4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44444;
}

/* Log output */
.event-logs-wrapper.fullwidth {
  max-width: 100%;
  font-size: 14px;
  line-height: 1.42857;
}
.event-logs-wrapper {
  position: relative;
  max-width: 736px;
  margin: 0 auto;
  background: #333;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px 20px 20px 24px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.event-logs-wrapper .content {
  height: 95px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow-y: auto;
  text-align: left;
  overflow: auto;
}
.log-label {
  color: #8ae234;
  font-weight: 600;
}

.log-link {
  color: #34e2e2;
  position: relative;
}

.log-link:hover {
  text-decoration: underline;
}

/* Top menu */
.mainheader {
  padding: 7px 60px;
  position: absolute;
  font-size: 0;
  width: 100%;
  min-width: 588px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  z-index: 999;
  border-bottom: 1px solid transparent;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainheader.fixed-head {
  background-color: #fff;
  position: fixed;
  border-bottom: 1px solid #cdcdcf;
  -webkit-box-shadow: 0px 2px 10px rgba(226, 230, 232, 0.6);
  box-shadow: 0px 2px 10px rgba(226, 230, 232, 0.6);
  z-index: 1001;
}

.mainheader .container-xl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.mainheader .logo {
  width: 225px;
  display: block;
}

.mainheader .logo {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

.mainheader .logo img {
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.mainheader .mainnav {
  margin: 0 38px;
}

.mainheader .mainnav,
.mainheader .mainheader-icons {
  padding-top: 2px;
}

ol,
ul {
  list-style: none;
}

.mainnav li {
  margin-right: 20px;
}

.mainnav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}

@media screen and (max-width: 730px) {
  .mainnav li {
    display: block;
  }
}

.mainnav li a {
  font-size: 14px;
  line-height: 1.35714;
  text-transform: uppercase;
  color: #454545;
  position: relative;
  font-weight: 600;
}

.mainnav li a:hover:before {
  opacity: 1;
  width: 100%;
}

.mainnav li a:before {
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #df3800;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.mainnav li a:before {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mainnav li a:before {
  content: "";
  display: block;
  position: absolute;
}

/* Side menu */
.side-menu {
  float: left;
  min-width: 240.67px;
  border-right: 1px solid #eaeaea;
}

.side-menu ol,
.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-title {
  padding-right: 40px;
  color: #cdcdcd;
  text-align: right;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 22px;
}

.side-menu li a {
  display: block;
  text-align: right;
  padding: 9px 40px 9px 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #555;
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.side-menu li a:hover,
.side-menu li a.router-link-exact-active,
.side-menu li.active a.router-link-exact-active {
  color: #df3800;
}

.side-menu li a.router-link-exact-active:before,
.side-menu-wrap .side-menu li.active a:before {
  content: " ";
  position: absolute;
  right: -1px;
  height: calc(100% - 16px);
  width: 3px;
  background: #df3800;
}
