#app {
    padding: 120px 0 60px;
    font-family: "Open Sans", "Arial", sans-serif, serif;
    color: #555;
    line-height: 1;
    font-size: 15px;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}
  .wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .pivotContent {
    float: left;
    width: 75%;
    min-width: 605px;
    padding: 30px 40px;
    background: #fff;
    padding-top: 0;
  }